<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Deneme.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Deneme.Properties.Settings.kullaniciConnectionString"
            connectionString="Data Source=DESKTOP-UKSERKS;Initial Catalog=kullanici;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Deneme.Properties.Settings.BusServicesConnectionString"
            connectionString="Data Source=DESKTOP-UKSERKS;Initial Catalog=BusServices;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <Deneme.Properties.Settings>
            <setting name="Email" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </Deneme.Properties.Settings>
    </userSettings>
</configuration>